html, p, div, span {
  color: white !important;
  background-color: #232323;
}
body {
  background-color: #232323;
}
blockquote.forward > .preamble {
  color: rgba(255, 255, 255, 0.7) !important;
}

blockquote.forward > .preamble > .date > .value,
blockquote.forward > .preamble > .sender > .value {
  color: rgba(255, 255, 255, 0.7) !important;
}
blockquote.forward > .preamble > .date > .label,
blockquote.forward > .preamble > .sender > .label {
  color: rgba(255, 255, 255, 0.7) !important;
}
table th {
  background-color: #161616;
}
table {
  background-color: #232323;
}
