---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="BetterSeqta">
	<h1 class="flex pt-96 pl-80 underline decoration-indigo-500 text-6xl">BetterSeqta</h1>
	<Button><span>GitHub</span></Button>
</Layout>