---
const { content } = Astro.props;
---

<button class="p-8 rounded hover:rounded-lg text-4xl outline outline-offset-2 outline-4 outline-blue-500 duration-300 hover:bg-blue-400 inline-flex"><slot/></button>